body{
  width:400px;
  height:400px;
  display: inline-block;

}

header{
  width:100px;
  height:100px;
  display: inline;
}
header > #top-bar1{
  
  border: 1px solid black;
  background-color: green;
}
header > #top-bar2{
  background-color: greenyellow;
}

section{
  width:100px;
  height:300px;
  display: inline;
}
section > div{
  
  border: 1px solid black;
}
section > .sec1{
  height: 300px;
}

article{
  display: inline;
  position: absolute;
  top:50px;
  left:410px;

}
article > div{
  width: 170px;
  height: 370px;
  display: block;
  border: 1px solid black;
}
article > div > img {
  background-image: cover;
  
}

footer{
  width:100px;
  height:100px;
  display: inline;
}
footer > div{
  border: 1px solid black;
}