#calendar {
    width: 630px;
    margin: 0 auto;
}
#top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
#leftArrowBtn, #rightArrowBtn {
    display: flex;
}
#leftArrowBtn img, #rightArrowBtn img {
    width: 30px;
    cursor: pointer;
}
#thisMonth {
    font-size: 32px;
    cursor: default;
}

#calendar > div > span {
    display: inline-block;
    width: 85px;
    height: 85px;
    line-height: 2.5;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 32px;
    cursor: default;
}

.sat {
    color: blue;
}
.sun {
    color: red;
}
.prev, .next {
    color: #959595;
}

.hide {
    display: none;
}